# General
*~

# Output
*.pdf
*.ps

# Atom
*.fdb_latexmk
*.fls

# LateX
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.toc

# Apple
.DS_Store
.AppleDouble
.LSOverride

# TexPad
xcuserdata/
project.xcworkspace/
build/
*.swp
.texpadtmp/
