#==============================================================================#
# ACM-DEBS-2016-PAPER GITIGNORE
#
# This file specifies intentionally untracked files that git should ignore.
# See: http://www.kernel.org/pub/software/scm/git/docs/gitignore.html
#==============================================================================#

#==============================================================================#
# Ignore anyway
#==============================================================================#
_ignore

#==============================================================================#
# OS
#==============================================================================#
#==============================================================================#
# Linux
#==============================================================================#
#   General
#==============================================================================#
*~
#==============================================================================#
#   KDE directory preferences
#==============================================================================#
.directory
#==============================================================================#
#   Linux trash folder which might appear on any partition or disk
#==============================================================================#
.Trash-*

#==============================================================================#
# Apple OSX
#==============================================================================#
#   General
#==============================================================================#
.DS_Store
.AppleDouble
.LSOverride
.svn
#==============================================================================#
#   Icon must end with two \r
#==============================================================================#
Icon
#==============================================================================#
#   Thumbnails
#==============================================================================#
._*
#==============================================================================#
#   Files that might appear in the root of a volume
#==============================================================================#
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
#==============================================================================#
#   Directories potentially created on remote AFP share
#==============================================================================#
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#==============================================================================#
# Microsoft Windows
#==============================================================================#
#   Windows image file caches
#==============================================================================#
Thumbs.db
ehthumbs.db
#==============================================================================#
#   Folder config file
#==============================================================================#
Desktop.ini
#==============================================================================#
#   Recycle Bin used on file shares
#==============================================================================#
$RECYCLE.BIN/
#==============================================================================#
#   Windows Installer files
#==============================================================================#
*.cab
*.msi
*.msm
*.msp
#==============================================================================#
#   Windows shortcuts
#==============================================================================#
*.lnk

#==============================================================================#
# TEX
#==============================================================================#
#==============================================================================#
# Core latex/pdflatex auxiliary files
#==============================================================================#
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
#==============================================================================#
# Intermediate documents
#==============================================================================#
*.dvi
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf
#==============================================================================#
# Bibliography auxiliary files
#==============================================================================#
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml
#==============================================================================#
# Build tool auxiliary files
#==============================================================================#
*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
#==============================================================================#
# Auxiliary files from other packages
#==============================================================================#
#==============================================================================#
#   algorithms
#==============================================================================#
*.alg
*.loa
#==============================================================================#
#   achemso
#==============================================================================#
acs-*.bib
#==============================================================================#
#   amsthm
#==============================================================================#
*.thm
#==============================================================================#
#   beamer
#==============================================================================#
*.nav
*.snm
*.vrb
#==============================================================================#
#   (e)ledmac/(e)ledpar
#==============================================================================#
*.end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R
#==============================================================================#
#   glossaries
#==============================================================================#
*.acn
*.acr
*.glg
*.glo
*.gls
#==============================================================================#
#   gnuplottex
#==============================================================================#
*-gnuplottex-*
#==============================================================================#
#   hyperref
#==============================================================================#
*.brf
#==============================================================================#
#   knitr
#==============================================================================#
*-concordance.tex
*.tikz
*-tikzDictionary
#==============================================================================#
#   listings
#==============================================================================#
*.lol
#==============================================================================#
#   makeidx
#==============================================================================#
*.idx
*.ilg
*.ind
*.ist
#==============================================================================#
#   minitoc
#==============================================================================#
*.maf
*.mtc
*.mtc[0-9]
*.mtc[1-9][0-9]
#==============================================================================#
#   minted
#==============================================================================#
_minted*
*.pyg
#==============================================================================#
#   morewrites
#==============================================================================#
*.mw
#==============================================================================#
#   mylatexformat
#==============================================================================#
*.fmt
#==============================================================================#
#   nomencl
#==============================================================================#
*.nlo
#==============================================================================#
#   sagetex
#==============================================================================#
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd
#==============================================================================#
#   sympy
#==============================================================================#
*.sout
*.sympy
sympy-plots-for-*.tex/
#==============================================================================#
#   pdfcomment
#==============================================================================#
*.upa
*.upb
#==============================================================================#
#   pythontex
#==============================================================================#
*.pytxcode
pythontex-files-*/
#==============================================================================#
#   TikZ & PGF
#==============================================================================#
*.dpth
*.md5
*.auxlock
#==============================================================================#
#   todonotes
#==============================================================================#
*.tdo
#==============================================================================#
#   xindy
#==============================================================================#
*.xdy
#==============================================================================#
#   WinEdt
#==============================================================================#
*.bak
*.sav
#==============================================================================#
#   endfloat
#==============================================================================#
*.ttt
*.fff

#==============================================================================#
# EDITOR
#==============================================================================#
#==============================================================================#
# Atom
#==============================================================================#
#==============================================================================#
#   Build-Tools
#==============================================================================#
.build-tools.cson
#==============================================================================#
#   LateX
#==============================================================================#
*.fdb_latexmk
*.fls
#==============================================================================#
# LyX
#==============================================================================#
*.lyx~
*.lyx#
#==============================================================================#
#   TexPad
#==============================================================================#
xcuserdata/
project.xcworkspace/
build/
*.swp
.texpadtmp/
