#==============================================================================#
# ACM-DEBS-2016-PAPER GITIGNORE
#
# This file specifies intentionally untracked files that git should ignore.
# See: http://www.kernel.org/pub/software/scm/git/docs/gitignore.html
#==============================================================================#

#==============================================================================#
# OS files
#==============================================================================#
# Linux
*~
# Apple
.DS_Store
.AppleDouble
.LSOverride
.svn
.Spotlight-V100
.Trashes
# Windows
Thumbs.db
Desktop.ini

#==============================================================================#
# Folder for temp contents
#==============================================================================#
_ignore

#==============================================================================#
# Atom
#==============================================================================#
*.fdb_latexmk
*.fls

#==============================================================================#
# TexPad
#==============================================================================#
xcuserdata/
project.xcworkspace/
build/
*.swp
.texpadtmp/

#==============================================================================#
# LateX compilation
#==============================================================================#
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.pdf
*.ps
*.synctex.gz
*.toc
